<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Homes For Hounds</string>
	<string>Food For Felines</string>
	<string>Click one of the buttons below to choose which fund to donate to.</string>
</array>
</plist>
